<?xml version="1.0"?>
<configuration>

  <appSettings>

    <!-- Consumer Key and Secret, taken from an public/partner application registered at http://api.xero.com -->
    <add key="XeroApiConsumerKey" value="MTY3NWJJODFIYMMZNDCXNTG2MGMXMJ" />
    <add key="XeroApiConsumerSecret" value="E0HU3N4LUIEQL5BWWPMU7ESR9TJRUW" />

    <!-- SignatureMethod. Use 'HMAC-SHA1' for public apps, 'RSA-SHA1' for private and partner apps. -->
    <add key="XeroApiSignatureMethod" value="HMAC-SHA1" />

    <!-- Xero API Endpoints 
      Use 'https://api.xero.com/' for public and private apps
      Use 'https://api-partner.network.xero.com/' for partner apps
    -->
    <add key="XeroApiBaseUrl" value="https://api.xero.com/api.xro/2.0/" />

    <!-- OAuth Signing Certificate - needed for private and partner apps -->
    <add key="XeroApiOAuthCertificateFindType" value="FindBySerialNumber" />
    <add key="XeroApiOAuthCertificateFindValue" value="" />

    <!-- Client SSL Certificate - needed for partner apps only -->
    <add key="XeroApiSslCertificateFindType" value="FindBySerialNumber" />
    <add key="XeroApiSslCertificateFindValue" value="" />

    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>

    <!-- SessionState needs to be enabled as the OAuth Access token is stored inside it -->
    <sessionState mode="InProc" timeout="60"  />
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="None" />
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

